* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f1f3f6;
    }

    .header {
      background: #000000;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      color: #fff;
    }

    .logo {
      font-size: 26px;
      font-weight: bold;
      margin-right: 20px;
    }

    .search {
      flex: 1;
    }

    .search input {
      width: 100%;
      padding: 10px;
      border-radius: 2px;
      border: none;
      outline: none;
    }

    .login {
      margin-left: 20px;
      background: #fff;
      color: #000000;
      padding: 8px 20px;
      border-radius: 2px;
      cursor: pointer;
      font-weight: bold;
      border: none;
    }

    .products {
      display: flex;
      flex-wrap: wrap;               
      gap: 30px;                
      padding: 20px;
      justify-content: center;    
    }

    .card {
      text-align: center;
      background-color: #fff;
      border-radius: 20px;
      width: 520px;         
      border: 1px solid black;     
      display: flex;
      flex-direction: column;
      overflow: hidden;
      cursor: pointer;
    }

    .image {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }

    .image img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    
    .title {
      font-size: 20px;
      font-weight: 600;
      color: #212121;
      height: 40px;
      overflow: hidden;
    }